<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1440px; height: 3567px; position: relative; background: linear-gradient(116deg, rgba(255, 232.70, 232.70, 0.49) 19%, rgba(255, 251.98, 179.56, 0.25) 52%, rgba(9.44, 237.27, 251.81, 0.06) 77%, rgba(9.44, 237.27, 251.81, 0.03) 94%, rgba(9.44, 237.27, 251.81, 0) 100%)">
        <div style="width: 1440px; height: 59px; left: 0px; top: 0px; position: absolute; background: #FAEFEF; border: 3px white solid"></div>
        <div style="width: 48px; height: 48px; left: 22px; top: 5px; position: absolute; background: #200202; border-radius: 9999px"></div>
        <div style="width: 116px; height: 28px; left: 100px; top: 15px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 800; word-wrap: break-word">LawSphere</div>
        <div style="width: 42px; height: 43px; left: 1360px; top: 10.74px; position: absolute">
          <div style="width: 42px; height: 5.61px; left: 0px; top: 0px; position: absolute; background: black"></div>
          <div style="width: 42px; height: 5.61px; left: 0px; top: 18.70px; position: absolute; background: black"></div>
          <div style="width: 42px; height: 5.61px; left: 0px; top: 37.39px; position: absolute; background: black"></div>
        </div>
        <img style="width: 668px; height: 812px; left: 416px; top: 105px; position: absolute" src="https://via.placeholder.com/668x812" />
        <div style="width: 388px; height: 174px; left: 196px; top: 181px; position: absolute"><span style="color: black; font-size: 56px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">We </span><span style="color: black; font-size: 56px; font-family: EB Garamond; font-weight: 700; word-wrap: break-word">never sleep</span><span style="color: black; font-size: 56px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word"> till our client </span><span style="color: black; font-size: 56px; font-family: EB Garamond; font-weight: 700; word-wrap: break-word">get justice</span><span style="color: black; font-size: 56px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">.</span></div>
        <div style="width: 220px; height: 64px; left: 196px; top: 577px; position: absolute">
          <div style="width: 220px; height: 64px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
          <div style="width: 88px; height: 32px; left: 66px; top: 16px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Log in</div>
        </div>
        <div style="width: 242px; height: 108px; left: 998px; top: 245px; position: absolute; color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Gateway to provide the first phase of <br/>court services</div>
        <div style="width: 877px; height: 168px; left: 282px; top: 983px; position: absolute; color: #FF4105; font-size: 96px; font-family: EB Garamond; font-weight: 500; word-wrap: break-word">O U R  S E R V I C E S</div>
        <div style="width: 230px; height: 140px; left: 998px; top: 613px; position: absolute; color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Streamline Your Legal Practice with Comprehensive Case Management Services.</div>
        <div style="width: 341px; height: 164px; left: 196px; top: 429px; position: absolute; color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word"> A single platform for lawyers, clients and courts. Manage your case easily</div>
        <div style="width: 1261px; height: 1048px; left: 179px; top: 1559px; position: absolute">
          <div style="width: 509px; height: 223px; left: 0px; top: 814px; position: absolute"><span style="color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word"><br/></span><span style="color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Effortless case registration for court proceedings.<br/>Access to a comprehensive case history and timeline.<br/>Monitor all cases registered under the court.<br/>View the case history of registered cases.<br/>Check the real-time status of ongoing cases.<br/>Robust data security measures to protect court information.</span></div>
          <div style="width: 1259px; height: 1048px; left: 2px; top: 0px; position: absolute">
            <div style="width: 1060px; height: 258px; left: 12px; top: 0px; position: absolute">
              <div style="width: 527px; left: 0px; top: 2px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Client Services<br/><br/></span><span style="color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Monitor case history<br/>Negotiate with opposing parties<br/>Ensure data security<br/>View case timeline<br/>Access case summary<br/>Upload documents for verification</span></div>
              <img style="width: 533px; height: 258px; left: 527px; top: 0px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 11px" src="https://via.placeholder.com/533x258" />
            </div>
            <div style="width: 1259px; height: 312px; left: 0px; top: 374px; position: absolute">
              <div style="width: 724.36px; height: 36px; left: 534.64px; top: 0px; position: absolute; color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Lawyer Services<br/></div>
              <div style="width: 472.01px; height: 254px; left: 517.40px; top: 58px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Register new cases effortlessly.<br/>Monitor case history and timelines.<br/>Facilitate negotiations with opposing parties.<br/>Ensure robust data security.<br/>Access comprehensive case summaries.<br/>Create and manage a case repository in your dashboard.<br/>Streamline case meetings for efficiency.<br/>Easily upload and manage legal evidence.<br/>Edit and generate case reports with ease.</div>
              <img style="width: 483.81px; height: 259px; left: 0px; top: 28px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 12px" src="https://via.placeholder.com/484x259" />
            </div>
            <div style="width: 1034px; height: 270px; left: 22px; top: 778px; position: absolute">
              <div style="width: 798px; height: 36px; left: 0px; top: 0px; position: absolute; color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Court Services<br/></div>
              <img style="width: 525px; height: 260px; left: 509px; top: 10px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 12px" src="https://via.placeholder.com/525x260" />
            </div>
          </div>
        </div>
        <div style="height: 506px; left: 152px; top: 2797px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
          <div style="width: 1228px; justify-content: flex-start; align-items: flex-end; gap: 699px; display: inline-flex">
            <div style="width: 404px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 13px; display: inline-flex">
              <div style="width: 484px; color: #1C1F35; font-size: 35px; font-family: Rubik; font-weight: 600; word-wrap: break-word">     What Our Customer Say</div>
            </div>
          </div>
          <div style="width: 1200px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 544px; padding-top: 62px; padding-bottom: 62px; padding-left: 72px; padding-right: 36px; background: #F4F4F4; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
              <div style="height: 301px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div style="width: 455.85px; justify-content: flex-start; align-items: center; gap: 134px; display: inline-flex">
                  <div style="height: 91px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                    <div style="width: 91px; height: 91px; position: relative">
                      <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
                      <img style="width: 291px; height: 178px; left: -199px; top: -12px; position: absolute" src="https://via.placeholder.com/291x178" />
                    </div>
                    <div style="width: 148px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                      <div style="color: #091242; font-size: 20px; font-family: Rubik; font-weight: 500; word-wrap: break-word">Kathleen Smith</div>
                      <div style="color: #091242; font-size: 16px; font-family: Krub; font-weight: 500; line-height: 24.24px; word-wrap: break-word">Fuel Company</div>
                    </div>
                  </div>
                  <div style="width: 72.85px; height: 72.85px; position: relative">
                    <div style="width: 72.85px; height: 72.85px; left: 0px; top: 0px; position: absolute; background: linear-gradient(94deg, #FFB629 0%, #FFDA56 51%, #FFD7A6 100%); border-radius: 9999px"></div>
                    <div style="width: 31.52px; height: 20.72px; left: 21.65px; top: 25.75px; position: absolute; background: #091242"></div>
                  </div>
                </div>
                <div style="height: 186px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
                  <div style="width: 456px; color: #666C89; font-size: 16px; font-family: Krub; font-style: italic; font-weight: 500; line-height: 24.24px; word-wrap: break-word">Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</div>
                  <div style="width: 180px; height: 34px; position: relative">
                  </div>
                </div>
              </div>
            </div>
            <div style="width: 552px; padding-left: 72px; padding-right: 72px; padding-top: 62px; padding-bottom: 62px; background: #091242; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
              <div style="height: 301px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div style="width: 455.85px; justify-content: flex-start; align-items: center; gap: 134px; display: inline-flex">
                  <div style="height: 91px; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                    <div style="width: 91px; height: 91px; position: relative">
                      <div style="width: 91px; height: 91px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
                      <img style="width: 143px; height: 214px; left: -21px; top: -43px; position: absolute" src="https://via.placeholder.com/143x214" />
                    </div>
                    <div style="width: 148px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
                      <div style="color: white; font-size: 20px; font-family: Rubik; font-weight: 500; word-wrap: break-word">John Martin</div>
                      <div style="color: white; font-size: 16px; font-family: Krub; font-weight: 500; line-height: 24.24px; word-wrap: break-word">Restoration Company</div>
                    </div>
                  </div>
                  <div style="width: 72.85px; height: 72.85px; position: relative">
                    <div style="width: 72.85px; height: 72.85px; left: 0px; top: 0px; position: absolute; background: linear-gradient(94deg, #FFB629 0%, #FFDA56 51%, #FFD7A6 100%); border-radius: 9999px"></div>
                    <div style="width: 31.52px; height: 20.72px; left: 21.65px; top: 25.75px; position: absolute; background: #091242"></div>
                  </div>
                </div>
                <div style="height: 186px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
                  <div style="width: 456px; color: white; font-size: 16px; font-family: Krub; font-style: italic; font-weight: 500; line-height: 24.24px; word-wrap: break-word">Leverage agile frameworks to provide a robust synopsis for strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</div>
                  <div style="width: 180px; height: 34px; position: relative">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 790px; height: 276px; left: 325px; top: 1183px; position: absolute">
          <div style="width: 790px; height: 276px; padding-top: 30px; padding-bottom: 43px; padding-left: 40px; padding-right: 230px; left: 0px; top: 0px; position: absolute; background: white; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 520px; height: 203px; position: relative">
              <div style="width: 160px; height: 203px; left: 360px; top: 0px; position: absolute">
                <div style="width: 160px; height: 203px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px #E1E1E1 solid"></div>
                <div style="width: 120px; height: 50px; left: 20px; top: 123px; position: absolute; color: #595959; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">court can send summon directly <br/>usinh our application</div>
                <div style="width: 120px; height: 27px; left: 20px; top: 96px; position: absolute; color: #191919; font-size: 16px; font-family: Poppins; font-weight: 700; line-height: 26px; word-wrap: break-word">Summon</div>
                <div style="width: 120px; left: 20px; top: 30px; position: absolute; color: #191919; font-size: 46px; font-family: Poppins; font-weight: 700; line-height: 56px; word-wrap: break-word">03</div>
              </div>
              <div style="width: 160px; height: 203px; left: 180px; top: 0px; position: absolute">
                <div style="width: 160px; height: 203px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px #E1E1E1 solid"></div>
                <div style="width: 120px; height: 50px; left: 20px; top: 123px; position: absolute; color: #595959; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">negotiate before hearing</div>
                <div style="width: 120px; height: 27px; left: 20px; top: 96px; position: absolute; color: #191919; font-size: 16px; font-family: Roboto Serif; font-weight: 700; line-height: 26px; word-wrap: break-word">Negotiate</div>
                <div style="width: 120px; left: 20px; top: 30px; position: absolute; color: #191919; font-size: 46px; font-family: Poppins; font-weight: 700; line-height: 56px; word-wrap: break-word">02</div>
              </div>
              <div style="width: 160px; height: 203px; left: 0px; top: 0px; position: absolute">
                <div style="width: 160px; height: 203px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px #E1E1E1 solid"></div>
                <div style="width: 120px; height: 50px; left: 20px; top: 123px; position: absolute; color: #595959; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">watch case live report review it.</div>
                <div style="width: 120px; height: 27px; left: 20px; top: 96px; position: absolute; color: #191919; font-size: 16px; font-family: Roboto Serif; font-weight: 700; line-height: 26px; word-wrap: break-word">Case Report</div>
                <div style="width: 120px; left: 20px; top: 30px; position: absolute; color: #191919; font-size: 46px; font-family: Poppins; font-weight: 700; line-height: 56px; word-wrap: break-word">01</div>
              </div>
            </div>
          </div>
          <div style="width: 160px; height: 203px; left: 578px; top: 36px; position: absolute">
            <div style="width: 160px; height: 203px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 1px #E1E1E1 solid"></div>
            <div style="width: 120px; height: 50px; left: 20px; top: 123px; position: absolute; color: #595959; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">data integrity & confidentiality is <br/>maintained</div>
            <div style="width: 120px; height: 27px; left: 20px; top: 96px; position: absolute; color: #191919; font-size: 16px; font-family: Roboto Serif; font-weight: 700; line-height: 26px; word-wrap: break-word">Security</div>
            <div style="width: 120px; left: 20px; top: 30px; position: absolute; color: #191919; font-size: 46px; font-family: Poppins; font-weight: 700; line-height: 56px; word-wrap: break-word">04</div>
          </div>
        </div>
        <div style="width: 1440px; height: 132px; left: 0px; top: 3435px; position: absolute; background: black"></div>
      </div>
</body>
</html>