<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1440px; height: 2010px; position: relative; background: linear-gradient(116deg, rgba(255, 232.70, 232.70, 0.49) 19%, rgba(255, 251.98, 179.56, 0.25) 52%, rgba(9.44, 237.27, 251.81, 0.06) 77%, rgba(9.44, 237.27, 251.81, 0.03) 94%, rgba(9.44, 237.27, 251.81, 0) 100%)">
  <div style="width: 1440px; height: 59px; left: 0px; top: 0px; position: absolute; background: #FAEFEF; border: 3px white solid"></div>
  <div style="width: 48px; height: 48px; left: 22px; top: 5px; position: absolute; background: #200202; border-radius: 9999px"></div>
  <div style="width: 116px; height: 28px; left: 100px; top: 15px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 800; word-wrap: break-word">LawSphere</div>
  <div style="width: 42px; height: 24.23px; left: 1360px; top: 6.05px; position: absolute">
    <div style="width: 42px; height: 3.16px; left: 0px; top: 0px; position: absolute; background: black"></div>
    <div style="width: 42px; height: 3.16px; left: 0px; top: 10.53px; position: absolute; background: black"></div>
    <div style="width: 42px; height: 3.16px; left: 0px; top: 21.07px; position: absolute; background: black"></div>
  </div>
  <div style="width: 345px; height: 76px; left: 563px; top: 515px; position: absolute; background: white; border-radius: 19px"></div>
  <div style="width: 345px; height: 76px; left: 563px; top: 631px; position: absolute; background: white; border-radius: 19px"></div>
  <div style="width: 345px; height: 76px; left: 563px; top: 399px; position: absolute; background: white; border-radius: 19px"></div>
  <div style="width: 345px; height: 76px; left: 563px; top: 283px; position: absolute; background: white; border-radius: 19px"></div>
  <div style="width: 345px; height: 76px; left: 563px; top: 747px; position: absolute; background: white; border-radius: 19px"></div>
  <div style="left: 658px; top: 428px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Gmail</div>
  <div style="width: 100px; height: 100px; left: 633px; top: 379px; position: absolute"></div>
  <div style="left: 671px; top: 657px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Aadhar no.</div>
  <div style="left: 681px; top: 773px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">case type</div>
  <div style="left: 671px; top: 541px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Phone no.</div>
  <div style="left: 657px; top: 309px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Name</div>
  <div style="width: 339px; height: 76px; left: 569px; top: 863px; position: absolute; background: white; border-radius: 19px"></div>
  <div style="left: 663px; top: 890px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Under court</div>
  <div style="width: 1065px; height: 439px; left: 187px; top: 1065px; position: absolute">
    <div style="width: 259px; height: 68px; left: 1px; top: 371px; position: absolute">
      <div style="width: 259px; height: 68px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
      <div style="width: 168px; height: 28px; left: 91px; top: 20px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Upload </div>
    </div>
    <div style="width: 1065px; height: 248px; left: 0px; top: 96px; position: absolute">
      <div style="width: 1065px; height: 248px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 19px"></div>
      <div style="width: 622px; height: 172px; left: 78px; top: 32px; position: absolute; color: black; font-size: 24px; font-family: Manrope; font-weight: 400; word-wrap: break-word">Aadhar.pdf<br/><br/>drivinglicence.pdf<br/><br/>Any FIR pdf</div>
    </div>
    <div style="left: 24px; top: 0px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Upload  Case files /Evidences</div>
  </div>
  <div style="left: 211px; top: 89px; position: absolute; color: black; font-size: 96px; font-family: EB Garamond; font-weight: 500; word-wrap: break-word">Add a new case</div>
  <div style="left: 231px; top: 295px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Name</div>
  <div style="left: 232px; top: 404px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Gmail</div>
  <div style="width: 259px; height: 68px; left: 606px; top: 1631px; position: absolute">
    <div style="width: 259px; height: 68px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
    <div style="width: 168px; height: 28px; left: 91px; top: 20px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Submit</div>
  </div>
  <div style="left: 230px; top: 527px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Phone no.</div>
  <div style="left: 237px; top: 654px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Aadhar no.</div>
  <div style="left: 238px; top: 764px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Case Type</div>
  <div style="left: 239px; top: 869px; position: absolute; color: black; font-size: 32px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Under Court</div>
  <div style="width: 1440px; height: 144px; left: 0px; top: 1909px; position: absolute; background: black"></div>
</div>
</body>
</html>