<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function login() {
          // Specify the URL of the new HTML file you want to open
          var newHTMLFileURL = 'login';
          
          // Change the current page's location to the new HTML file URL
          window.location.href = newHTMLFileURL;
      }
      function register() {
          // Specify the URL of the new HTML file you want to open
          var newHTMLFileURL = 'register';
          
          // Change the current page's location to the new HTML file URL
          window.location.href = newHTMLFileURL;
      }
    </script>
  </head>
  <body style="background-color: #f4f1f1">
    <div
      class="Rectangle1"
      style="
        width: 100%;
        height: 59px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: black;
        border: 3px white solid;
      "
    ></div>
    <div
      class="Ellipse1"
      style="
        width: 48px;
        height: 48px;
        left: 22px;
        top: 5px;
        position: absolute;
        background: #fffcfc;
        border-radius: 9999px;
      "
    ></div>
    <div
      class="Lawsphere"
      style="
        width: 165px;
        height: 28px;
        left: 100px;
        top: 15px;
        position: absolute;
        color: white;
        font-size: 24px;
        font-family: EB Garamond;
        font-weight: 800;
        word-wrap: break-word;
      "
    >
      LawSphere
    </div>
    <div
      class="Group32"
      style="
        width: 170px;
        height: 64px;
        left: 226px;
        top: 673px;
        position: absolute;
      "
    >
      <div
        class="Rectangle5"
        style="
          width: 170px;
          height: 64px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: black;
          border-radius: 19px;
        "
      ></div>
      <div
        class="SignUp"
        style="
          width: 104px;
          height: 32px;
          left: 39px;
          top: 16px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
        onclick="register()"
      >
      
        Sign Up
      </div>
    </div>
    <div
      class="GatewayToProvideTheFirstPhaseOfCourtServices"
      style="
        width: 242px;
        height: 108px;
        left: 998px;
        top: 245px;
        position: absolute;
        color: black;
        font-size: 28px;
        font-family: EB Garamond;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Gateway to provide the first phase of <br />court services
    </div>
    <div
      class="OURSERVICES"
      style="
        width: 852px;
        height: 101px;
        left: 355px;
        top: 797px;
        position: absolute;
        color: black;
        font-size: 80px;
        font-family: EB Garamond;
        font-weight: 500;
        word-wrap: break-word;
      "
    >
      O U R S E R V I C E S
    </div>
    <div
      class="StreamlineYourLegalPracticeWithComprehensiveCaseManagementServices"
      style="
        width: 356px;
        height: 140px;
        left: 908px;
        top: 545px;
        position: absolute;
        color: black;
        font-size: 24px;
        font-family: EB Garamond;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Streamline Your Legal Practice with Comprehensive Case Management
      Services.
    </div>
    <div
      class="Group7"
      style="
        width: 1261px;
        height: 1038px;
        left: 184px;
        top: 1335px;
        position: absolute;
      "
    >
      <div
        class="EffortlessCaseRegistrationForCourtProceedingsAccessToAComprehensiveCaseHistoryAndTimelineMonitorAllCasesRegisteredUnderTheCourtViewTheCaseHistoryOfRegisteredCasesCheckTheRealTimeStatusOfOngoingCasesRobustDataSecurityMeasuresToProtectCourtInformation"
        style="
          width: 509px;
          height: 223px;
          left: 0px;
          top: 814px;
          position: absolute;
        "
      >
        <span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          ><br /></span
        ><span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Effortless case registration for court proceedings.<br />Access to a
          comprehensive case history and timeline.<br />Monitor all cases
          registered under the court.<br />View the case history of registered
          cases.<br />Check the real-time status of ongoing cases.<br />Robust
          data security measures to protect court information.</span
        >
      </div>
      <div
        class="Group6"
        style="
          width: 1259px;
          height: 1038px;
          left: 2px;
          top: 0px;
          position: absolute;
        "
      >
        <div
          class="Group5"
          style="
            width: 1060px;
            height: 258px;
            left: 12px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            class="ClientServicesMonitorCaseHistoryNegotiateWithOpposingPartiesEnsureDataSecurityViewCaseTimelineAccessCaseSummaryUploadDocumentsForVerification"
            style="width: 527px; left: 0px; top: 2px; position: absolute"
          >
            <span
              style="
                color: black;
                font-size: 28px;
                font-family: EB Garamond;
                font-weight: 600;
                word-wrap: break-word;
              "
              >Client Services<br /><br /></span
            ><span
              style="
                color: black;
                font-size: 20px;
                font-family: Roboto Serif;
                font-weight: 400;
                word-wrap: break-word;
              "
              >Monitor case history<br />Negotiate with opposing parties<br />Ensure
              data security<br />View case timeline<br />Access case summary<br />Upload
              documents for verification</span
            >
          </div>
          <img
            class="Rectangle8"
            style="
              width: 533px;
              height: 258px;
              left: 527px;
              top: 0px;
              position: absolute;
              background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
              border-radius: 11px;
            "
            src="../modi.png"
          />
        </div>
        <div
          class="Group4"
          style="
            width: 1259px;
            height: 312px;
            left: 0px;
            top: 374px;
            position: absolute;
          "
        >
          <div
            class="LawyerServices"
            style="
              width: 724.36px;
              height: 36px;
              left: 534.64px;
              top: 0px;
              position: absolute;
              color: black;
              font-size: 28px;
              font-family: EB Garamond;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Lawyer Services<br />
          </div>
          <div
            class="RegisterNewCasesEffortlesslyMonitorCaseHistoryAndTimelinesFacilitateNegotiationsWithOpposingPartiesEnsureRobustDataSecurityAccessComprehensiveCaseSummariesCreateAndManageACaseRepositoryInYourDashboardStreamlineCaseMeetingsForEfficiencyEasilyUploadAndManageLegalEvidenceEditAndGenerateCaseReportsWithEase"
            style="
              width: 472.01px;
              height: 254px;
              left: 517.4px;
              top: 58px;
              position: absolute;
              color: black;
              font-size: 20px;
              font-family: Roboto Serif;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Register new cases effortlessly.<br />Monitor case history and
            timelines.<br />Facilitate negotiations with opposing parties.<br />Ensure
            robust data security.<br />Access comprehensive case summaries.<br />Create
            and manage a case repository in your dashboard.<br />Streamline case
            meetings for efficiency.<br />Easily upload and manage legal
            evidence.<br />Edit and generate case reports with ease.
          </div>
          <img
            class="Rectangle9"
            style="
              width: 483.81px;
              height: 259px;
              left: 0px;
              top: 28px;
              position: absolute;
              background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
              border-radius: 12px;
            "
            src="../conference.png"
          />
        </div>
        <div
          class="Group2"
          style="
            width: 1054px;
            height: 260px;
            left: 22px;
            top: 778px;
            position: absolute;
          "
        >
          <div
            class="CourtServices"
            style="
              width: 798px;
              height: 36px;
              left: 0px;
              top: 0px;
              position: absolute;
              color: black;
              font-size: 28px;
              font-family: EB Garamond;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Court Services<br />
          </div>
          <img
            class="Rectangle10"
            style="
              width: 525px;
              height: 260px;
              left: 529px;
              top: 0px;
              position: absolute;
              background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
              border-radius: 12px;
            "
            src="../court.png"
          />
        </div>
      </div>
    </div>
    <div
      class="Testimonial"
      style="
        height: 506px;
        left: 142px;
        top: 3111px;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
        display: inline-flex;
      "
    >
      <div
        class="Title"
        style="
          width: 1228px;
          justify-content: flex-start;
          align-items: flex-end;
          gap: 699px;
          display: inline-flex;
        "
      >
        <div
          class="Title"
          style="
            width: 404px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 13px;
            display: inline-flex;
          "
        >
          <div
            class="WhatOurCustomerSay"
            style="
              width: 484px;
              color: #1c1f35;
              font-size: 35px;
              font-family: Rubik;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            What Our Customer Say
          </div>
        </div>
      </div>
      <div
        class="User"
        style="
          width: 1200px;
          justify-content: flex-start;
          align-items: flex-start;
          display: inline-flex;
        "
      >
        <div
          style="
            width: 544px;
            padding-top: 62px;
            padding-bottom: 62px;
            padding-left: 72px;
            padding-right: 36px;
            background: #f4f4f4;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <div
            class="Review"
            style="
              height: 301px;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 24px;
              display: flex;
            "
          >
            <div
              class="User"
              style="
                width: 455.85px;
                justify-content: flex-start;
                align-items: center;
                gap: 134px;
                display: inline-flex;
              "
            >
              <div
                class="User"
                style="
                  height: 91px;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  class="User"
                  style="width: 91px; height: 91px; position: relative"
                >
                  <div
                    class="Ellipse4"
                    style="
                      width: 91px;
                      height: 91px;
                      left: 0px;
                      top: 0px;
                      position: absolute;
                      background: #d9d9d9;
                      border-radius: 9999px;
                    "
                  ></div>
                  <!-- <img
                    class="Photo"
                    style="
                      width: 291px;
                      height: 178px;
                      left: -199px;
                      top: -12px;
                      position: absolute;
                    "
                    src="../highcourt.png"
                  /> -->
                </div>
                <div
                  class="Name"
                  style="
                    width: 148px;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 2px;
                    display: inline-flex;
                  "
                >
                  <div
                    class="KathleenSmith"
                    style="
                      color: #091242;
                      font-size: 20px;
                      font-family: Rubik;
                      font-weight: 500;
                      word-wrap: break-word;
                    "
                  >
                    Kathleen Smith
                  </div>
                  <div
                    class="FuelCompany"
                    style="
                      color: #091242;
                      font-size: 16px;
                      font-family: Krub;
                      font-weight: 500;
                      line-height: 24.24px;
                      word-wrap: break-word;
                    "
                  >
                    Fuel Company
                  </div>
                </div>
              </div>
              <div style="width: 72.85px; height: 72.85px; position: relative">
                <div
                  class="Background"
                  style="
                    width: 72.85px;
                    height: 72.85px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: linear-gradient(
                      94deg,
                      #ffb629 0%,
                      #ffda56 51%,
                      #ffd7a6 100%
                    );
                    border-radius: 9999px;
                  "
                ></div>
                <div
                  style="
                    width: 31.52px;
                    height: 20.72px;
                    left: 21.65px;
                    top: 25.75px;
                    position: absolute;
                    background: #091242;
                  "
                ></div>
              </div>
            </div>
            <div
              class="Text"
              style="
                height: 186px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 32px;
                display: flex;
              "
            >
              <div
                class="LeverageAgileFrameworksToProvideARobustSynopsisForStrategyFosterCollaborativeThinkingToFurtherTheOverallValuePropositionOrganicallyGrowTheHolisticWorldViewOfDisruptiveInnovationViaWorkplaceDiversityAndEmpowerment"
                style="
                  width: 456px;
                  color: #666c89;
                  font-size: 16px;
                  font-family: Krub;
                  font-style: italic;
                  font-weight: 500;
                  line-height: 24.24px;
                  word-wrap: break-word;
                "
              >
                Leverage agile frameworks to provide a robust synopsis for
                strategy foster collaborative thinking to further the overall
                value proposition. Organically grow the holistic world view of
                disruptive innovation via workplace diversity and empowerment.
              </div>
              <div
                class="Star"
                style="width: 180px; height: 34px; position: relative"
              ></div>
            </div>
          </div>
        </div>
        <div
          style="
            width: 552px;
            padding-left: 72px;
            padding-right: 72px;
            padding-top: 62px;
            padding-bottom: 62px;
            background: #091242;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
          "
        >
          <div
            class="Review"
            style="
              height: 301px;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
              gap: 24px;
              display: flex;
            "
          >
            <div
              class="User"
              style="
                width: 455.85px;
                justify-content: flex-start;
                align-items: center;
                gap: 134px;
                display: inline-flex;
              "
            >
              <div
                class="User"
                style="
                  height: 91px;
                  justify-content: flex-start;
                  align-items: center;
                  gap: 10px;
                  display: flex;
                "
              >
                <div
                  class="User"
                  style="width: 91px; height: 91px; position: relative"
                >
                  <div
                    class="Background"
                    style="
                      width: 91px;
                      height: 91px;
                      left: 0px;
                      top: 0px;
                      position: absolute;
                      background: #d9d9d9;
                      border-radius: 9999px;
                    "
                  ></div>
                  <!-- <img
                    class="Photo"
                    style="
                      width: 143px;
                      height: 214px;
                      left: -21px;
                      top: -43px;
                      position: absolute;
                    "
                    src="https://via.placeholder.com/143x214"
                  /> -->
                </div>
                <div
                  class="Name"
                  style="
                    width: 148px;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 2px;
                    display: inline-flex;
                  "
                >
                  <div
                    class="JohnMartin"
                    style="
                      color: white;
                      font-size: 20px;
                      font-family: Rubik;
                      font-weight: 500;
                      word-wrap: break-word;
                    "
                  >
                    John Martin
                  </div>
                  <div
                    class="RestorationCompany"
                    style="
                      color: white;
                      font-size: 16px;
                      font-family: Krub;
                      font-weight: 500;
                      line-height: 24.24px;
                      word-wrap: break-word;
                    "
                  >
                    Restoration Company
                  </div>
                </div>
              </div>
              <div style="width: 72.85px; height: 72.85px; position: relative">
                <div
                  class="Background"
                  style="
                    width: 72.85px;
                    height: 72.85px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: linear-gradient(
                      94deg,
                      #ffb629 0%,
                      #ffda56 51%,
                      #ffd7a6 100%
                    );
                    border-radius: 9999px;
                  "
                ></div>
                <div
                  style="
                    width: 31.52px;
                    height: 20.72px;
                    left: 21.65px;
                    top: 25.75px;
                    position: absolute;
                    background: #091242;
                  "
                ></div>
              </div>
            </div>
            <div
              class="Text"
              style="
                height: 186px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 32px;
                display: flex;
              "
            >
              <div
                class="LeverageAgileFrameworksToProvideARobustSynopsisForStrategyFosterCollaborativeThinkingToFurtherTheOverallValuePropositionOrganicallyGrowTheHolisticWorldViewOfDisruptiveInnovationViaWorkplaceDiversityAndEmpowerment"
                style="
                  width: 456px;
                  color: white;
                  font-size: 16px;
                  font-family: Krub;
                  font-style: italic;
                  font-weight: 500;
                  line-height: 24.24px;
                  word-wrap: break-word;
                "
              >
                Leverage agile frameworks to provide a robust synopsis for
                strategy foster collaborative thinking to further the overall
                value proposition. Organically grow the holistic world view of
                disruptive innovation via workplace diversity and empowerment.
              </div>
              <div
                class="Star"
                style="width: 180px; height: 34px; position: relative"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="Group31"
      style="
        width: 1070px;
        height: 467px;
        left: 186px;
        top: 2496px;
        position: absolute;
      "
    >
      <div
        class="JudegeServices"
        style="
          width: 221px;
          height: 39px;
          left: 31px;
          top: 0px;
          position: absolute;
          color: black;
          font-size: 28px;
          font-family: EB Garamond;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        Judge Services<br />
      </div>
      <img
        class="Rectangle21"
        style="
          width: 514px;
          height: 322px;
          left: 556px;
          top: 67px;
          position: absolute;
          background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
          border-radius: 18px;
        "
        src="../highcourt.png"
      />
      <div
        class="EfficientCourtSummonsProcessCourtCanSummonAnyInvolvedPersonElectronicallyUtilizesVirtualCommunicationMethodsForEfficiencyElectronicSummonsVirtualMailIsSentToIndividualsNotRegisteredOnTheCourtSWebsiteSummonMessageIsDisplayedOnTheClientSDashboardBenefitsIncreasesTimeEfficiencyInTheSummonsProcessReducesCostsAssociatedWithTraditionalPaperBasedSummonsProvidesAFeasibleAndModernSolutionForLegalNotifications"
        style="
          width: 547px;
          height: 400px;
          left: 0px;
          top: 67px;
          position: absolute;
        "
      >
        <span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Efficient Court Summons Process:<br /></span
        ><span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Court can summon any involved person electronically.<br />Utilizes
          virtual communication methods for efficiency.<br /></span
        ><span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Electronic Summons:<br /></span
        ><span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Virtual mail is sent to individuals not registered on the court's
          website.<br />Summon message is displayed on the client's
          dashboard.<br /></span
        ><span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Benefits:<br /></span
        ><span
          style="
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
          >Increases time efficiency in the summons process.<br />Reduces costs
          associated with traditional paper-based summons.<br />Provides a
          feasible and modern solution for legal notifications.</span
        >
      </div>
    </div>
    <div
      class="Rectangle34"
      style="
        width: 1009px;
        height: 275px;
        left: 223px;
        top: 965px;
        position: absolute;
        background: white;
      "
    ></div>
    <div
      class="Rectangle39"
      style="
        width: 224px;
        height: 223px;
        left: 983px;
        top: 991px;
        position: absolute;
        background: white;
        border-radius: 10px;
        border: 1px black solid;
      "
    ></div>
    <div
      class="Rectangle36"
      style="
        width: 224px;
        height: 223px;
        left: 489px;
        top: 991px;
        position: absolute;
        background: white;
        border-radius: 10px;
        border: 1px black solid;
      "
    ></div>
    <div
      class="Rectangle37"
      style="
        width: 224px;
        height: 223px;
        left: 242px;
        top: 991px;
        position: absolute;
        background: white;
        border-radius: 10px;
        border: 1px black solid;
      "
    ></div>
    <div
      class="Rectangle38"
      style="
        width: 224px;
        height: 223px;
        left: 736px;
        top: 991px;
        position: absolute;
        background: white;
        border-radius: 10px;
        border: 1px black solid;
      "
    ></div>
    <div
      class="SecurityDataIntegrityConfidentiallyIsMaintained"
      style="
        width: 198px;
        height: 204px;
        left: 994px;
        top: 1020px;
        position: absolute;
      "
    >
      <span
        style="
          color: #191919;
          font-size: 53.8px;
          font-family: Poppins;
          font-weight: 600;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >04<br /><br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 700;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Security<br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 400;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Data integrity & confidentially is maintained</span
      >
    </div>
    <div
      class="TrackCasesStreamliningTheProcessOfCaseHearing"
      style="
        width: 198px;
        height: 190px;
        left: 257px;
        top: 995px;
        position: absolute;
      "
    >
      <span
        style="
          color: #191919;
          font-size: 53.8px;
          font-family: Poppins;
          font-weight: 600;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        ><br />01<br /><br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 700;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Track Cases<br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 400;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Streamlining the process of case hearing</span
      >
    </div>
    <img
      class="Rectangle40"
      style="
        width: 100%;
        height: 426px;
        left: 0px;
        top: 59px;
        position: absolute;
      "
      src="..\supreme_image.png"
    />
    <div
      class="NegotiateNegotiateBeforeHearing"
      style="
        width: 198px;
        height: 190px;
        left: 502px;
        top: 995px;
        position: absolute;
      "
    >
      <span
        style="
          color: #191919;
          font-size: 53.8px;
          font-family: Poppins;
          font-weight: 600;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        ><br />02<br /><br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 700;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Negotiate<br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 400;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >negotiate before hearing</span
      >
    </div>
    <div
      class="SummonCourtCanSendSummonDirectlyUsingOurApplication"
      style="
        width: 198px;
        height: 190px;
        left: 747px;
        top: 1020px;
        position: absolute;
      "
    >
      <span
        style="
          color: #191919;
          font-size: 53.8px;
          font-family: Poppins;
          font-weight: 600;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >03<br /><br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 700;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Summon<br /></span
      ><span
        style="
          color: #191919;
          font-size: 20px;
          font-family: Poppins;
          font-weight: 400;
          line-height: 25.5px;
          word-wrap: break-word;
        "
        >Court can send summon directly using our application</span
      >
    </div>
    <div
      class="WeNeverSleepTillOurClientGetJustice"
      style="
        width: 562px;
        height: 125px;
        left: 226px;
        top: 506px;
        position: absolute;
      "
    >
      <span
        style="
          color: black;
          font-size: 48px;
          font-family: EB Garamond;
          font-weight: 400;
          word-wrap: break-word;
        "
        >We </span
      ><span
        style="
          color: black;
          font-size: 48px;
          font-family: EB Garamond;
          font-weight: 700;
          word-wrap: break-word;
        "
        >never sleep</span
      ><span
        style="
          color: black;
          font-size: 48px;
          font-family: EB Garamond;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        till our client </span
      ><span
        style="
          color: black;
          font-size: 48px;
          font-family: EB Garamond;
          font-weight: 700;
          word-wrap: break-word;
        "
        >get justice</span
      ><span
        style="
          color: black;
          font-size: 48px;
          font-family: EB Garamond;
          font-weight: 400;
          word-wrap: break-word;
        "
        >.</span
      >
    </div>
    <div
      class="About"
      style="
        width: 104px;
        height: 32px;
        left: 1128px;
        top: 21px;
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Roboto Serif;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      about<br />
    </div>
    <div
      class="LogIn"
      style="
        width: 104px;
        height: 32px;
        left: 1212px;
        top: 21px;
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Roboto Serif;
        font-weight: 400;
        word-wrap: break-word;
      "
      onclick="login()"
    >

      Log in
    </div>
    <div
      class="SignUp"
      style="
        width: 104px;
        height: 32px;
        left: 1300px;
        top: 21px;
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Roboto Serif;
        font-weight: 400;
        word-wrap: break-word;
      "
      onclick="register()"

    >
      Sign Up<br />
    </div>
    <div
      class="Services"
      style="
        width: 104px;
        height: 32px;
        left: 1015px;
        top: 21px;
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Roboto Serif;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      services
    </div>
    <div
      class="ContactUs"
      style="
        width: 104px;
        height: 32px;
        left: 883px;
        top: 21px;
        position: absolute;
        color: white;
        font-size: 20px;
        font-family: Roboto Serif;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      contact us
    </div>
    <div
      class="Footer2Dark"
      style="
        width: 100%;
        height: 400px;
        left: 0px;
        top: 3800px;
        position: absolute;
        background: white;
      "
    >
      <div
        class="Background"
        style="
          width: 100%;
          height: 400px;
          
          top: 0px;
          position: absolute;
          background: black;
        "
      ></div>
      <div
        class="FooterUi"
        style="height: 76.89px; left: 183px; top: 303.38px; position: absolute"
      >
        <div
          class="Divider"
          style="
            width: 1073.5px;
            height: 0.95px;
            left: 0px;
            top: 0px;
            position: absolute;
            opacity: 0.2;
            background: white;
            border: 1px white solid;
          "
        ></div>
        <div
          class="ContentUnderDivider"
          style="
            width: 1073px;
            height: 42.66px;
            left: 1px;
            top: 34.24px;
            position: absolute;
          "
        >
          <div
            class="Pricing"
            style="
              width: 232px;
              height: 17.12px;
              left: 841px;
              top: 9.51px;
              position: absolute;
              color: white;
              font-size: 16px;
              font-family: TT Commons;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            © 2020 Lift Media. All rights reserved
          </div>
          <div
            class="Group3148"
            style="
              width: 135px;
              height: 33.29px;
              left: 0px;
              top: 0px;
              position: absolute;
            "
          >
            <div
              class="Twitter"
              style="
                width: 35px;
                height: 33.29px;
                left: 100px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                class="Oval10Copy"
                style="
                  width: 35px;
                  height: 33.29px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  opacity: 0.25;
                  border: 1.5px white solid;
                "
              ></div>
              <div
                class="IcTwitter"
                style="
                  width: 12.29px;
                  height: 9.87px;
                  left: 11px;
                  top: 12.36px;
                  position: absolute;
                  background: white;
                "
              ></div>
            </div>
            <div
              class="Facebook"
              style="
                width: 35px;
                height: 33.29px;
                left: 50px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                class="Oval10"
                style="
                  width: 35px;
                  height: 33.29px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  opacity: 0.25;
                  border: 1.5px white solid;
                "
              ></div>
              <div
                class="IcFacebook"
                style="
                  width: 6.97px;
                  height: 11.53px;
                  left: 14px;
                  top: 10.46px;
                  position: absolute;
                  background: white;
                "
              ></div>
            </div>
            <div
              class="Linkedin"
              style="
                width: 35px;
                height: 33.29px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                class="Oval10Copy3"
                style="
                  width: 35px;
                  height: 33.29px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  opacity: 0.25;
                  border: 1.5px white solid;
                "
              ></div>
              <div
                class="IcLinkedin"
                style="
                  width: 11.87px;
                  height: 11.29px;
                  left: 12px;
                  top: 10.46px;
                  position: absolute;
                "
              >
                <div
                  class="Oval"
                  style="
                    width: 2.97px;
                    height: 2.82px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: white;
                  "
                ></div>
                <div
                  class="Shape"
                  style="
                    width: 2.97px;
                    height: 7.52px;
                    left: 0px;
                    top: 3.76px;
                    position: absolute;
                    background: white;
                  "
                ></div>
                <div
                  class="Shape"
                  style="
                    width: 7.91px;
                    height: 8px;
                    left: 3.96px;
                    top: 3.23px;
                    position: absolute;
                    background: white;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div
            class="Group3585"
            style="
              width: 122.6px;
              height: 34.1px;
              left: 475px;
              top: 8.56px;
              position: absolute;
            "
          >
            <div
              class="Pricing"
              style="
                width: 78px;
                height: 17.12px;
                left: 0px;
                top: 0px;
                position: absolute;
                color: white;
                font-size: 16px;
                font-family: TT Commons;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              A product of
            </div>
            <div
              class="LogoLift"
              style="
                width: 30.6px;
                height: 18.27px;
                left: 92px;
                top: 15.83px;
                position: absolute;
                background: white;
              "
            ></div>
          </div>
        </div>
      </div>
      <div
        class="LogIn"
        style="
          width: 132px;
          height: 32px;
          left: 812px;
          top: 200px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
        onclick="login()"
      >
        Log in
      </div>
      <div
        class="SignUp"
        style="
          width: 132px;
          height: 32px;
          left: 924px;
          top: 200px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
        onclick="register()"
      >
        Sign Up<br />
      </div>
      <div
        class="Services"
        style="
          width: 132px;
          height: 32px;
          left: 563px;
          top: 200px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        services
      </div>
      <div
        class="ContactUs"
        style="
          width: 132px;
          height: 32px;
          left: 396px;
          top: 200px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        contact us
      </div>
    </div>
  </body>
</html>
