<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1440px; height: 2506px; position: relative; background: linear-gradient(116deg, rgba(255, 232.70, 232.70, 0.49) 19%, rgba(255, 251.98, 179.56, 0.25) 52%, rgba(9.44, 237.27, 251.81, 0.06) 77%, rgba(9.44, 237.27, 251.81, 0.03) 94%, rgba(9.44, 237.27, 251.81, 0) 100%)">
  <div style="width: 1440px; height: 59px; left: 0px; top: 0px; position: absolute; background: #FAEFEF; border: 3px white solid"></div>
  <div style="width: 48px; height: 48px; left: 22px; top: 5px; position: absolute; background: #200202; border-radius: 9999px"></div>
  <div style="width: 116px; height: 28px; left: 100px; top: 15px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 800; word-wrap: break-word">LawSphere</div>
  <div style="width: 42px; height: 30.21px; left: 1360px; top: 7.55px; position: absolute">
    <div style="width: 42px; height: 3.94px; left: 0px; top: 0px; position: absolute; background: black"></div>
    <div style="width: 42px; height: 3.94px; left: 0px; top: 13.13px; position: absolute; background: black"></div>
    <div style="width: 42px; height: 3.94px; left: 0px; top: 26.27px; position: absolute; background: black"></div>
  </div>
  <img style="width: 255px; height: 255px; left: 911px; top: 379px; position: absolute; background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); border-radius: 9999px" src="https://via.placeholder.com/255x255" />
  <div style="width: 830px; height: 152px; left: 504px; top: 85px; position: absolute; color: black; font-size: 96px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">JUDGE</div>
  <div style="width: 630px; height: 323px; left: 188px; top: 345px; position: absolute">
    <div style="width: 630px; height: 323px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, #F1FFF9 0%, rgba(188.64, 255, 248.96, 0.44) 58%, rgba(255, 255, 255, 0.72) 80%, rgba(206.70, 244.37, 242.11, 0) 97%, rgba(57.23, 246.50, 230.99, 0.35) 100%); border-radius: 14px"></div>
    <div style="width: 236px; height: 36px; left: 34px; top: 16px; position: absolute; color: black; font-size: 28px; font-family: EB Garamond; font-weight: 500; word-wrap: break-word">My Profile</div>
    <div style="width: 564px; height: 242px; left: 34px; top: 64px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 400; word-wrap: break-word">Name                               :       ABC<br/>Phone                              :      454644546454<br/>email                                :      xyz@email.com<br/>gender                             :      male<br/>age                                    :      45<br/>Aadhar number             :      54654645546<br/>Experience                     :      5+<br/>Courts Practised           :      <br/>Designation                    :     I Addl. District & Sessions Judge<br/><br/></div>
  </div>
  <div style="width: 185.51px; height: 26.76px; left: 238.80px; top: 755.12px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Add new case</div>
  <div style="width: 1440px; height: 124px; left: -3px; top: 2382px; position: absolute; background: black"></div>
  <div style="width: 329px; height: 65px; left: 214px; top: 714px; position: absolute">
    <div style="width: 329px; height: 65px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
    <div style="left: 16px; top: 19px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Status of pending cases</div>
  </div>
  <div style="width: 738px; height: 49px; left: 339px; top: 210px; position: absolute; color: black; font-size: 25px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">A good Judge is not one who is impartial, but one who has prejudice for god</div>
  <div style="width: 439px; height: 65px; left: 201px; top: 862px; position: absolute; color: black; font-size: 56px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Your Case History</div>
  <div style="width: 1073px; height: 1177px; left: 180px; top: 983px; position: absolute">
    <div style="width: 1073px; height: 1177px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1071.99px; height: 1177px; left: 1.01px; top: 0px; position: absolute; background: white; border-radius: 14px; border: 10px #FFFCFC solid"></div>
      <div style="width: 1035.93px; height: 178.52px; left: 25px; top: 872px; position: absolute">
        <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
        <div style="width: 354.64px; height: 77.66px; left: 14.22px; top: 12.10px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Finished)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
        <div style="width: 959.15px; height: 36.31px; left: 19.04px; top: 88.75px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
        <div style="width: 88.66px; height: 31.27px; left: 22.04px; top: 127.08px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
        <div style="width: 156.16px; height: 44.38px; left: 841.39px; top: 17.15px; position: absolute; border-radius: 19px"></div>
        <div style="width: 112.84px; height: 22.19px; left: 873.76px; top: 26.57px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
      </div>
      <div style="width: 1073px; height: 65.41px; left: 0px; top: 0px; position: absolute; background: #000006; border-radius: 15px"></div>
      <div style="width: 1035.93px; height: 378.52px; left: 25px; top: 471px; position: absolute">
        <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute">
          <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
          <div style="width: 354.64px; height: 77.66px; left: 14.22px; top: 12.10px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
          <div style="width: 959.15px; height: 36.31px; left: 19.04px; top: 88.75px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
          <div style="width: 88.66px; height: 31.27px; left: 22.04px; top: 127.08px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
          <div style="width: 156.16px; height: 44.38px; left: 841.39px; top: 17.15px; position: absolute; border-radius: 19px"></div>
          <div style="width: 112.84px; height: 22.19px; left: 873.76px; top: 26.57px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
        </div>
        <div style="width: 238.44px; height: 158.35px; left: 794px; top: 10px; position: absolute">
          <div style="width: 181.34px; height: 38.33px; left: 27.05px; top: 120.02px; position: absolute; background: black; border-radius: 15px"></div>
          <div style="width: 166.31px; height: 33.28px; left: 72.13px; top: 122.04px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
          <div style="width: 208.39px; height: 38.33px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
        </div>
        <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 200px; position: absolute">
          <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
            <div style="width: 354.64px; height: 77.66px; left: 14.22px; top: 12.10px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
            <div style="width: 959.15px; height: 36.31px; left: 19.04px; top: 88.75px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
            <div style="width: 88.66px; height: 31.27px; left: 22.04px; top: 127.08px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
            <div style="width: 156.16px; height: 44.38px; left: 841.39px; top: 17.15px; position: absolute; border-radius: 19px"></div>
            <div style="width: 112.84px; height: 22.19px; left: 873.76px; top: 26.57px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
          </div>
          <div style="width: 238.44px; height: 158.35px; left: 783px; top: 12px; position: absolute">
            <div style="width: 181.34px; height: 38.33px; left: 27.05px; top: 120.02px; position: absolute; background: black; border-radius: 15px"></div>
            <div style="width: 166.31px; height: 33.28px; left: 72.13px; top: 122.04px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
            <div style="width: 208.39px; height: 38.33px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 260.46px; height: 68px; left: 44px; top: 1085px; position: absolute">
      <div style="width: 260.46px; height: 68px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
      <div style="width: 168.95px; height: 28px; left: 62.35px; top: 20px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Next Page</div>
    </div>
    <div style="width: 271.52px; height: 32px; left: 743.06px; top: 27px; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 244.37px; height: 13px; left: 770.21px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 100; word-wrap: break-word">Seach Case</div>
    <div style="width: 164.92px; height: 34px; left: 461px; top: 15px; position: absolute; color: white; font-size: 28px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Page 01-20</div>
  </div>
  <div style="width: 1073px; height: 1112px; left: 180px; top: 1048px; position: absolute">
    <div style="width: 1073px; height: 1112px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1071.99px; height: 1112px; left: 1.01px; top: 0px; position: absolute; background: white; border-radius: 14px; border: 10px #FFFCFC solid"></div>
      <div style="width: 1035.93px; height: 168.66px; left: 25px; top: 823.84px; position: absolute">
        <div style="width: 1035.93px; height: 168.66px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
        <div style="width: 354.64px; height: 73.37px; left: 14.22px; top: 11.43px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Finished)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
        <div style="width: 959.15px; height: 34.30px; left: 19.04px; top: 83.85px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
        <div style="width: 88.66px; height: 29.54px; left: 22.04px; top: 120.06px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
        <div style="width: 156.16px; height: 41.93px; left: 841.39px; top: 16.20px; position: absolute; border-radius: 19px"></div>
        <div style="width: 112.84px; height: 20.96px; left: 873.76px; top: 25.10px; position: absolute; transform: rotate(0.64deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
      </div>
      <div style="width: 1073px; height: 61.80px; left: 0px; top: 0px; position: absolute; background: #000006; border-radius: 15px"></div>
      <div style="width: 1035.93px; height: 357.61px; left: 25px; top: 444.99px; position: absolute">
        <div style="width: 1035.93px; height: 168.66px; left: 0px; top: 0px; position: absolute">
          <div style="width: 1035.93px; height: 168.66px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
          <div style="width: 354.64px; height: 73.37px; left: 14.22px; top: 11.43px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
          <div style="width: 959.15px; height: 34.30px; left: 19.04px; top: 83.85px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
          <div style="width: 88.66px; height: 29.54px; left: 22.04px; top: 120.06px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
          <div style="width: 156.16px; height: 41.93px; left: 841.39px; top: 16.20px; position: absolute; border-radius: 19px"></div>
          <div style="width: 112.84px; height: 20.96px; left: 873.76px; top: 25.10px; position: absolute; transform: rotate(0.64deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
        </div>
        <div style="width: 238.44px; height: 149.60px; left: 794px; top: 9.45px; position: absolute">
          <div style="width: 181.34px; height: 36.21px; left: 27.05px; top: 113.39px; position: absolute; background: black; border-radius: 15px"></div>
          <div style="width: 166.31px; height: 31.44px; left: 72.13px; top: 115.30px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
          <div style="width: 208.39px; height: 36.21px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
        </div>
        <div style="width: 1035.93px; height: 168.66px; left: 0px; top: 188.96px; position: absolute">
          <div style="width: 1035.93px; height: 168.66px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1035.93px; height: 168.66px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
            <div style="width: 354.64px; height: 73.37px; left: 14.22px; top: 11.43px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
            <div style="width: 959.15px; height: 34.30px; left: 19.04px; top: 83.85px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
            <div style="width: 88.66px; height: 29.54px; left: 22.04px; top: 120.06px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
            <div style="width: 156.16px; height: 41.93px; left: 841.39px; top: 16.20px; position: absolute; border-radius: 19px"></div>
            <div style="width: 112.84px; height: 20.96px; left: 873.76px; top: 25.10px; position: absolute; transform: rotate(0.64deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
          </div>
          <div style="width: 238.44px; height: 149.60px; left: 783px; top: 11.34px; position: absolute">
            <div style="width: 181.34px; height: 36.21px; left: 27.05px; top: 113.39px; position: absolute; background: black; border-radius: 15px"></div>
            <div style="width: 166.31px; height: 31.44px; left: 72.13px; top: 115.30px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
            <div style="width: 208.39px; height: 36.21px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 260.46px; height: 64.24px; left: 44px; top: 1025.08px; position: absolute">
      <div style="width: 260.46px; height: 64.24px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
      <div style="width: 168.95px; height: 26.45px; left: 62.35px; top: 18.90px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Next Page</div>
    </div>
    <div style="width: 271.52px; height: 30.23px; left: 743.06px; top: 25.51px; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 244.37px; height: 12.28px; left: 770.21px; top: 29.29px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 100; word-wrap: break-word">Seach Case</div>
    <div style="width: 164.92px; height: 32.12px; left: 461px; top: 14.17px; position: absolute; color: white; font-size: 28px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Page 01-20</div>
  </div>
  <div style="width: 1073px; height: 1177px; left: 180px; top: 983px; position: absolute">
    <div style="width: 1073px; height: 1177px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1071.99px; height: 1177px; left: 1.01px; top: 0px; position: absolute; background: white; border-radius: 14px; border: 10px #FFFCFC solid"></div>
      <div style="width: 1035.93px; height: 178.52px; left: 25px; top: 872px; position: absolute">
        <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
        <div style="width: 354.64px; height: 77.66px; left: 14.22px; top: 12.10px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Finished)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
        <div style="width: 959.15px; height: 36.31px; left: 19.04px; top: 88.75px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
        <div style="width: 88.66px; height: 31.27px; left: 22.04px; top: 127.08px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
        <div style="width: 156.16px; height: 44.38px; left: 841.39px; top: 17.15px; position: absolute; border-radius: 19px"></div>
        <div style="width: 112.84px; height: 22.19px; left: 873.76px; top: 26.57px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
      </div>
      <div style="width: 1073px; height: 65.41px; left: 0px; top: 0px; position: absolute; background: #000006; border-radius: 15px"></div>
      <div style="width: 1035.93px; height: 378.52px; left: 25px; top: 471px; position: absolute">
        <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute">
          <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
          <div style="width: 354.64px; height: 77.66px; left: 14.22px; top: 12.10px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
          <div style="width: 959.15px; height: 36.31px; left: 19.04px; top: 88.75px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
          <div style="width: 88.66px; height: 31.27px; left: 22.04px; top: 127.08px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
          <div style="width: 156.16px; height: 44.38px; left: 841.39px; top: 17.15px; position: absolute; border-radius: 19px"></div>
          <div style="width: 112.84px; height: 22.19px; left: 873.76px; top: 26.57px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
        </div>
        <div style="width: 238.44px; height: 155.32px; left: 794px; top: 10px; position: absolute">
          <div style="width: 166.31px; height: 33.28px; left: 72.13px; top: 122.04px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
          <div style="width: 208.39px; height: 38.33px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
        </div>
        <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 200px; position: absolute">
          <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1035.93px; height: 178.52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
            <div style="width: 354.64px; height: 77.66px; left: 14.22px; top: 12.10px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
            <div style="width: 959.15px; height: 36.31px; left: 19.04px; top: 88.75px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
            <div style="width: 88.66px; height: 31.27px; left: 22.04px; top: 127.08px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
            <div style="width: 156.16px; height: 44.38px; left: 841.39px; top: 17.15px; position: absolute; border-radius: 19px"></div>
            <div style="width: 112.84px; height: 22.19px; left: 873.76px; top: 26.57px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
          </div>
          <div style="width: 238.44px; height: 155.32px; left: 783px; top: 12px; position: absolute">
            <div style="width: 166.31px; height: 33.28px; left: 72.13px; top: 122.04px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
            <div style="width: 208.39px; height: 38.33px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 260.46px; height: 68px; left: 44px; top: 1085px; position: absolute">
      <div style="width: 260.46px; height: 68px; left: 0px; top: 0px; position: absolute; background: black; border-radius: 19px"></div>
      <div style="width: 168.95px; height: 28px; left: 62.35px; top: 20px; position: absolute; color: white; font-size: 24px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Next Page</div>
    </div>
    <div style="width: 271.52px; height: 32px; left: 743.06px; top: 27px; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 244.37px; height: 13px; left: 770.21px; top: 31px; position: absolute; color: black; font-size: 20px; font-family: Roboto Serif; font-weight: 100; word-wrap: break-word">Seach Case</div>
    <div style="width: 164.92px; height: 34px; left: 461px; top: 15px; position: absolute; color: white; font-size: 28px; font-family: Roboto Serif; font-weight: 600; word-wrap: break-word">Page 01-20</div>
  </div>
  <div style="width: 1038px; height: 177px; left: 200px; top: 1064px; position: absolute">
    <div style="width: 1034px; height: 177px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1034px; height: 177px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
      <div style="width: 353.98px; height: 77px; left: 14.20px; top: 12px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
      <div style="width: 957.36px; height: 36px; left: 19px; top: 88px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
      <div style="width: 88.50px; left: 22px; top: 126px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
      <div style="width: 155.87px; height: 44px; left: 839.82px; top: 17px; position: absolute; border-radius: 19px"></div>
      <div style="width: 112.63px; height: 22px; left: 872.14px; top: 26.34px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
    </div>
    <div style="width: 238px; height: 154px; left: 800px; top: 12px; position: absolute">
      <div style="width: 166px; height: 33px; left: 72px; top: 121px; position: absolute; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Schedule </div>
      <div style="width: 208px; height: 38px; left: 0px; top: 0px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
    </div>
  </div>
  <div style="width: 1034px; height: 177px; left: 200px; top: 1260px; position: absolute">
    <div style="width: 1034px; height: 177px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1034px; height: 177px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 18px; border: 1px black solid"></div>
      <div style="width: 353.98px; height: 77px; left: 14.20px; top: 12px; position: absolute"><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 600; word-wrap: break-word">Dowry Case (Current)<br/></span><span style="color: black; font-size: 28px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">CNR - 465446454<br/></span></div>
      <div style="width: 957.36px; height: 36px; left: 19px; top: 88px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">This case focuses on the dowry case filed by the bride family. they accused groom family of domestic ..</div>
      <div style="width: 88.50px; left: 22px; top: 126px; position: absolute; color: #0047FF; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">readmore</div>
      <div style="width: 155.87px; height: 44px; left: 839.82px; top: 17px; position: absolute; border-radius: 19px"></div>
      <div style="width: 112.63px; height: 22px; left: 872.14px; top: 26.34px; position: absolute; transform: rotate(0.67deg); transform-origin: 0 0; color: white; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">      Edit</div>
    </div>
    <div style="width: 208px; height: 38px; left: 800px; top: 12px; position: absolute; color: black; font-size: 24px; font-family: EB Garamond; font-weight: 400; word-wrap: break-word">Date- 21/09/2023</div>
  </div>
</div>
</body>
</html>