<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      function readmoreclick() {
        // Specify the URL of the new HTML file you want to open
        var newHTMLFileURL = 'summary.html';
        
        // Change the current page's location to the new HTML file URL
        window.location.href = newHTMLFileURL;
    }
    </script>
  </head>
  <body style="background-color: #f4f1f1;">
   
      <div
        class="Rectangle1"
        style="
          width: 100%;
          height: 59px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: black;
          border: 3px white solid;
        "
      ></div>
      <!-- <div
        class="Rectangle22"
        style="
          width: 1440px;
          height: 59px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: black;
          border: 3px white solid;
        "
      ></div> -->
      <div
        class="About"
        style="
          width: 104px;
          height: 32px;
          left: 1128px;
          top: 21px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        about<br />
      </div>
      <div
        class="LogIn"
        style="
          width: 104px;
          height: 32px;
          left: 1212px;
          top: 21px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Log in
      </div>
      <div
        class="SignUp"
        style="
          width: 104px;
          height: 32px;
          left: 1300px;
          top: 21px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Sign Up<br />
      </div>
      <div
        class="Services"
        style="
          width: 104px;
          height: 32px;
          left: 1015px;
          top: 21px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        services
      </div>
      <div
        class="ContactUs"
        style="
          width: 104px;
          height: 32px;
          left: 883px;
          top: 21px;
          position: absolute;
          color: white;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        contact us
      </div>
      <div
        class="Ellipse1"
        style="
          width: 48px;
          height: 48px;
          left: 22px;
          top: 5px;
          position: absolute;
          background: white;
          border-radius: 9999px;
        "
      ></div>
      <div
        class="Lawsphere"
        style="
          width: 130px;
          height: 28px;
          left: 100px;
          top: 15px;
          position: absolute;
          color: white;
          font-size: 24px;
          font-family: EB Garamond;
          font-weight: 800;
          word-wrap: break-word;
        "
      >
        LawSphere
      </div>
      <img
        class="Ellipse5"
        style="
          width: 255px;
          height: 255px;
          left: 911px;
          top: 379px;
          position: absolute;
          background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
          border-radius: 9999px;
        "
        src="https://via.placeholder.com/255x255"
      />
      <div
        class="DASHBOARD"
        style="
          width: 830px;
          height: 152px;
          left: 333px;
          top: 105px;
          position: absolute;
          color: black;
          font-size: 96px;
          font-family: EB Garamond;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        D A S H B O A R D
      </div>
      <div
        class="DASHBOARD"
        style="
          width: 830px;
          height: 152px;
          left: 333px;
          top: 105px;
          position: absolute;
          color: black;
          font-size: 96px;
          font-family: EB Garamond;
          font-weight: 600;
          word-wrap: break-word;
        "
      >
        D A S H B O A R D
      </div>
      <div
        class="Group22"
        style="
          width: 630px;
          height: 323px;
          left: 247px;
          top: 345px;
          position: absolute;
        "
      >
        <div
          class="Rectangle13"
          style="
            width: 630px;
            height: 323px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(
              90deg,
              #f1fff9 0%,
              rgba(188.64, 255, 248.96, 0.44) 58%,
              rgba(255, 255, 255, 0.72) 80%,
              rgba(206.7, 244.37, 242.11, 0) 97%,
              rgba(57.23, 246.5, 230.99, 0.35) 100%
            );
            border-radius: 14px;
          "
        ></div>
        <div
          class="PersonalDashboard"
          style="
            width: 236px;
            height: 36px;
            left: 34px;
            top: 16px;
            position: absolute;
            color: black;
            font-size: 28px;
            font-family: EB Garamond;
            font-weight: 500;
            word-wrap: break-word;
          "
        >
          Personal Dashboard:
        </div>
        <div
          class="NameAbcRoleLawyerClientPhone454644546454EmailXyzEmailComGenderMaleCaseTypeDowryAadharNumber54654645546LawFirmHiredLawyerXyzCnrNumber"
          style="
            width: 564px;
            height: 242px;
            left: 34px;
            top: 64px;
            position: absolute;
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          Name : abc<br />Role : Lawyer/ client<br />Phone : 454644546454<br />email
          : xyz@email.com<br />gender : male<br />Case type : dowry<br />Aadhar
          number : 54654645546<br />law firm : <br />Hired lawyer : xyz<br />CNR
          number : <br /><br />
        </div>
      </div>
      <div
        class="YourCaseHistory"
        style="
          width: 423px;
          height: 92px;
          left: 247px;
          top: 806px;
          position: absolute;
          color: black;
          font-size: 56px;
          font-family: EB Garamond;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Your Case History
      </div>
      <div
        class="Group18"
        style="
          width: 259px;
          height: 68px;
          left: 226px;
          top: 2774px;
          position: absolute;
        "
      >
        <div
          class="Rectangle16"
          style="
            width: 259px;
            height: 68px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: black;
            border-radius: 19px;
          "
        ></div>
        <div
          class="Negotiate"
          style="
            width: 116px;
            height: 28px;
            left: 72px;
            top: 20px;
            position: absolute;
            color: white;
            font-size: 24px;
            font-family: Roboto Serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Negotiate
        </div>
      </div>
      <div
        class="NegotiateBeforeHearing"
        style="
          width: 556px;
          height: 76px;
          left: 196px;
          top: 2107px;
          position: absolute;
        "
      >
        <span
          style="
            color: black;
            font-size: 56px;
            font-family: EB Garamond;
            font-weight: 600;
            word-wrap: break-word;
          "
          >Negotiate</span
        ><span
          style="
            color: black;
            font-size: 56px;
            font-family: EB Garamond;
            font-weight: 400;
            word-wrap: break-word;
          "
        >
          before hearing</span
        >
      </div>
      <img
        class="Rectangle21"
        style="
          width: 525px;
          height: 374px;
          left: 736px;
          top: 2239px;
          position: absolute;
          background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
        "
        src="https://via.placeholder.com/525x374"
      />
      <div
        class="PreHearingNegotiationsWeFacilitateNegotiationsWithTheOpposingPartyBeforeTheActualHearingCostEfficientThisApproachSavesClientsMoneyOnTransportationAndLawyerFeesMutuallyBeneficialOurGoalIsToAchieveMutuallyAdvantageousOutcomesThroughNegotiationOnlineMeetingsMeetingsAreConductedConvenientlyThroughOurWebsiteFlexibleSchedulingClientsCanChooseMeetingTimesThatSuitTheirSchedulesInvitationsSentWeInviteTheOpposingPartyToJoinNegotiationsEfficiencyAndTimelinessThisFeatureStreamlinesLegalProcessesPromotingTimelyResolutions"
        style="
          width: 520px;
          height: 425px;
          left: 196px;
          top: 2239px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Pre-Hearing Negotiations: We facilitate negotiations with the opposing
        party before the actual hearing.<br />Cost-Efficient: This approach
        saves clients money on transportation and lawyer fees.<br />Mutually
        Beneficial: Our goal is to achieve mutually advantageous outcomes
        through negotiation.<br />Online Meetings: Meetings are conducted
        conveniently through our website.<br />Flexible Scheduling: Clients can
        choose meeting times that suit their schedules.<br />Invitations Sent:
        We invite the opposing party to join negotiations.<br />Efficiency and
        Timeliness: This feature streamlines legal processes, promoting timely
        resolutions.
      </div>
      <div
        class="ClickOnTheButtonIfYouWouldLikeToNegotiate"
        style="
          width: 502px;
          height: 32px;
          left: 223px;
          top: 2713px;
          position: absolute;
          color: black;
          font-size: 20px;
          font-family: Roboto Serif;
          font-weight: 500;
          word-wrap: break-word;
        "
      >
        Click on the button if you would like to negotiate
      </div>
      <div
        class="Background"
        style="
          width: 100%;
          height: 490px;
          left: 24.5px;
          top: 3113.5px;
          position: absolute;
          background: black;
        "
      ></div>
      <div
        class="FooterUi"
        style="
          width: 1087.3px;
          height: 278.24px;
          left: 199.44px;
          top: 3209.03px;
          position: absolute;
        "
      >
        <div
          class="Divider"
          style="
            width: 1086.79px;
            height: 0.88px;
            left: 0px;
            top: 178.56px;
            position: absolute;
            opacity: 0.2;
            background: white;
            border: 1px white solid;
          "
        ></div>
        <div
          class="QuickLinks"
          style="
            width: 302.7px;
            height: 117.87px;
            left: 314.85px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            class="EmployeeDatabase"
            style="
              width: 61.76px;
              height: 15.83px;
              left: 238.92px;
              top: 46.62px;
              position: absolute;
              opacity: 0.65;
              color: white;
              font-size: 16px;
              font-family: TT Commons;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Company
          </div>
          <div
            class="EmployeeDatabase"
            style="
              width: 63.78px;
              height: 15.83px;
              left: 238.92px;
              top: 102.03px;
              position: absolute;
              opacity: 0.65;
              color: white;
              font-size: 16px;
              font-family: TT Commons;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Lift Media
          </div>
          <div
            class="Product"
            style="
              width: 91.11px;
              height: 24.63px;
              left: 0px;
              top: 0px;
              position: absolute;
              color: white;
              font-size: 18px;
              font-family: TT Commons;
              font-weight: 600;
              line-height: 28px;
              word-wrap: break-word;
            "
          >
            Quick Links
          </div>
          <div
            class="EmployeeDatabase"
            style="
              width: 51.63px;
              height: 15.83px;
              left: 0px;
              top: 46.62px;
              position: absolute;
              opacity: 0.65;
              color: white;
              font-size: 16px;
              font-family: TT Commons;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Product
          </div>
          <div
            class="EmployeeDatabase"
            style="
              width: 73.9px;
              height: 15.83px;
              left: 0px;
              top: 102.03px;
              position: absolute;
              opacity: 0.65;
              color: white;
              font-size: 16px;
              font-family: TT Commons;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            Information
          </div>
        </div>
        <div
          class="ContentUnderDivider"
          style="
            width: 1086.28px;
            height: 68.01px;
            left: 1.01px;
            top: 210.22px;
            position: absolute;
          "
        >
          <div
            class="Pricing"
            style="
              width: 234.87px;
              height: 15.83px;
              left: 851.41px;
              top: 8.8px;
              position: absolute;
              color: white;
              font-size: 16px;
              font-family: TT Commons;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            © 2020 Lift Media. All rights reserved
          </div>
          <div
            class="Group3148"
            style="
              width: 136.67px;
              height: 30.79px;
              left: 0px;
              top: 0px;
              position: absolute;
            "
          >
            <div
              class="Twitter"
              style="
                width: 35.43px;
                height: 30.79px;
                left: 101.24px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                class="Oval10Copy"
                style="
                  width: 35.43px;
                  height: 30.79px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  opacity: 0.25;
                  border: 1.5px white solid;
                "
              ></div>
              <div
                class="IcTwitter"
                style="
                  width: 12.44px;
                  height: 9.13px;
                  left: 11.14px;
                  top: 11.43px;
                  position: absolute;
                  background: white;
                "
              ></div>
            </div>
            <div
              class="Facebook"
              style="
                width: 35.43px;
                height: 30.79px;
                left: 50.62px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                class="Oval10"
                style="
                  width: 35.43px;
                  height: 30.79px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  opacity: 0.25;
                  border: 1.5px white solid;
                "
              ></div>
              <div
                class="IcFacebook"
                style="
                  width: 7.06px;
                  height: 10.66px;
                  left: 14.17px;
                  top: 9.68px;
                  position: absolute;
                  background: white;
                "
              ></div>
            </div>
            <div
              class="Linkedin"
              style="
                width: 35.43px;
                height: 30.79px;
                left: 0px;
                top: 0px;
                position: absolute;
              "
            >
              <div
                class="Oval10Copy3"
                style="
                  width: 35.43px;
                  height: 30.79px;
                  left: 0px;
                  top: 0px;
                  position: absolute;
                  opacity: 0.25;
                  border: 1.5px white solid;
                "
              ></div>
              <div
                class="IcLinkedin"
                style="
                  width: 12.02px;
                  height: 10.44px;
                  left: 12.15px;
                  top: 9.68px;
                  position: absolute;
                "
              >
                <div
                  class="Oval"
                  style="
                    width: 3px;
                    height: 2.61px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    background: white;
                  "
                ></div>
                <div
                  class="Shape"
                  style="
                    width: 3px;
                    height: 6.96px;
                    left: 0px;
                    top: 3.48px;
                    position: absolute;
                    background: white;
                  "
                ></div>
                <div
                  class="Shape"
                  style="
                    width: 8.01px;
                    height: 7.39px;
                    left: 4.01px;
                    top: 2.98px;
                    position: absolute;
                    background: white;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div
            class="Group3585"
            style="
              width: 124.12px;
              height: 60.1px;
              left: 480.88px;
              top: 7.92px;
              position: absolute;
            "
          >
            <div
              class="Pricing"
              style="
                width: 78.97px;
                height: 15.83px;
                left: 0px;
                top: 0px;
                position: absolute;
                color: white;
                font-size: 16px;
                font-family: TT Commons;
                font-weight: 400;
                word-wrap: break-word;
              "
            >
              A product of
            </div>
            <div
              class="LogoLift"
              style="
                width: 30.98px;
                height: 18.27px;
                left: 93.14px;
                top: 41.83px;
                position: absolute;
                background: white;
              "
            ></div>
          </div>
        </div>
      </div>
      <div
        class="Group17"
        style="
          width: 944px;
          height: 972px;
          left: 256px;
          top: 937px;
          position: absolute;
        "
      >
        <div
          class="Group9"
          style="
            width: 944px;
            height: 972px;
            left: 0px;
            top: 0px;
            position: absolute;
          "
        >
          <div
            class="Rectangle14"
            style="
              width: 943.11px;
              height: 972px;
              left: 0.89px;
              top: 0px;
              position: absolute;
              background: white;
              border-radius: 14px;
              border: 10px #fffcfc solid;
            "
          ></div>
          <div
            class="Rectangle15"
            style="
              width: 944px;
              height: 54.02px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #000006;
              border-radius: 15px;
            "
          ></div>
        </div>
        <div
          class="Group16"
          style="
            width: 229.57px;
            height: 56.64px;
            left: 0.89px;
            top: 897.87px;
            position: absolute;
          "
        >
          <div
            class="Rectangle16"
            style="
              width: 229.57px;
              height: 56.64px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: black;
              border-radius: 19px;
            "
          ></div>
          <div
            class="NextPage"
            style="
              width: 148.91px;
              height: 23.32px;
              left: 54.96px;
              top: 16.66px;
              position: absolute;
              color: white;
              font-size: 24px;
              font-family: Roboto Serif;
              font-weight: 600;
              word-wrap: break-word;
            "
          >
            Next Page
          </div>
        </div>
        <div
          class="Rectangle17"
          style="
            width: 239.32px;
            height: 26.65px;
            left: 639.08px;
            top: 16.66px;
            position: absolute;
            background: white;
            border-radius: 10px;
          "
        ></div>
        <div
          class="SeachCase"
          style="
            width: 215.39px;
            height: 10.83px;
            left: 663.02px;
            top: 19.99px;
            position: absolute;
            color: black;
            font-size: 20px;
            font-family: Roboto Serif;
            font-weight: 100;
            word-wrap: break-word;
          "
        >
          Seach Case
        </div>
        <div
          class="Group11"
          style="
            width: 904.11px;
            height: 134.93px;
            left: 22.16px;
            top: 73.3px;
            position: absolute;
          "
        >
          <div
            class="Rectangle18"
            style="
              width: 904.11px;
              height: 134.93px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: white;
              border-radius: 18px;
              border: 1px black solid;
            "
          ></div>
          <div
            class="DowryCaseFinishedCnr465446454"
            style="
              width: 312.01px;
              height: 64.13px;
              left: 8.86px;
              top: 4.16px;
              position: absolute;
            "
          >
            <span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 600;
                word-wrap: break-word;
              "
              >Dowry Case (finished)<br /></span
            ><span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 400;
                word-wrap: break-word;
              "
              >CNR - 465446454</span
            >
          </div>
          <div
            class="ThisCaseFocusesOnTheDowryCaseFiledByTheBrideFamilyTheyAccusedGroomFamilyOfDomestic"
            style="
              width: 843.84px;
              height: 29.98px;
              left: 15.95px;
              top: 78.29px;
              position: absolute;
              color: black;
              font-size: 20px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            This case focuses on the dowry case filed by the bride family. they
            accused groom family of domestic ..
          </div>
          <div
            class="Readmore"
            style="
              width: 136px;
              height: 25px;
              left: 712.84px;
              top: 103.7px;
              position: absolute;
              color: #0047ff;
              font-size: 24px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
            onclick="readmoreclick()"
          >
            readmore
          </div>
        </div>
        <div
          class="Group12"
          style="
            width: 904.11px;
            height: 134.93px;
            left: 22.16px;
            top: 238.21px;
            position: absolute;
          "
        >
          <div
            class="Rectangle18"
            style="
              width: 904.11px;
              height: 134.93px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: white;
              border-radius: 18px;
              border: 1px black solid;
            "
          ></div>
          <div
            class="DowryCaseFinishedCnr465446454"
            style="
              width: 312.01px;
              height: 64.13px;
              left: 8.86px;
              top: 4.16px;
              position: absolute;
            "
          >
            <span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 600;
                word-wrap: break-word;
              "
              >Dowry Case (finished)<br /></span
            ><span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 400;
                word-wrap: break-word;
              "
              >CNR - 465446454</span
            >
          </div>
          <div
            class="Asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm"
            style="
              width: 843.84px;
              height: 29.98px;
              left: 12.41px;
              top: 78.29px;
              position: absolute;
              color: black;
              font-size: 20px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm,
          </div>
          <div
            class="Readmore"
            style="
              width: 117px;
              height: 26px;
              left: 712.84px;
              top: 107.79px;
              position: absolute;
              color: #0047ff;
              font-size: 24px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
            onclick="readmoreclick()"

          >
            readmore
          </div>
        </div>
        <div
          class="Group13"
          style="
            width: 904.11px;
            height: 134.93px;
            left: 22.16px;
            top: 403.13px;
            position: absolute;
          "
        >
          <div
            class="Rectangle18"
            style="
              width: 904.11px;
              height: 134.93px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: #fbfbfb;
              border-radius: 18px;
              border: 1px black solid;
            "
          ></div>
          <div
            class="DowryCaseFinishedCnr465446454"
            style="
              width: 312.01px;
              height: 64.13px;
              left: 8.86px;
              top: 4.16px;
              position: absolute;
            "
          >
            <span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 600;
                word-wrap: break-word;
              "
              >Dowry Case (finished)<br /></span
            ><span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 400;
                word-wrap: break-word;
              "
              >CNR - 465446454</span
            >
          </div>
          <div
            class="Asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm"
            style="
              width: 843.84px;
              height: 29.98px;
              left: 12.41px;
              top: 78.29px;
              position: absolute;
              color: black;
              font-size: 20px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm,
          </div>
          <div
            class="Readmore"
            style="
              width: 136px;
              height: 26px;
              left: 712.84px;
              top: 102.87px;
              position: absolute;
              color: #0047ff;
              font-size: 24px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
            onclick="readmoreclick()"

          >
            readmore
          </div>
        </div>
        <div
          class="Group14"
          style="
            width: 904.11px;
            height: 134.93px;
            left: 22.16px;
            top: 568.04px;
            position: absolute;
          "
        >
          <div
            class="Rectangle18"
            style="
              width: 904.11px;
              height: 134.93px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: white;
              border-radius: 18px;
              border: 1px black solid;
            "
          ></div>
          <div
            class="DowryCaseFinishedCnr465446454"
            style="
              width: 312.01px;
              height: 64.13px;
              left: 8.86px;
              top: 4.16px;
              position: absolute;
            "
          >
            <span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 600;
                word-wrap: break-word;
              "
              >Dowry Case (finished)<br /></span
            ><span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 400;
                word-wrap: break-word;
              "
              >CNR - 465446454</span
            >
          </div>
          <div
            class="Asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm"
            style="
              width: 843.84px;
              height: 29.98px;
              left: 12.41px;
              top: 78.29px;
              position: absolute;
              color: black;
              font-size: 20px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm,
          </div>
          <div
            class="Readmore"
            style="
              width: 136px;
              height: 26px;
              left: 712.84px;
              top: 102.96px;
              position: absolute;
              color: #0047ff;
              font-size: 24px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
            onclick="readmoreclick()"

          >
            readmore
          </div>
        </div>
        <div
          class="Group15"
          style="
            width: 904.11px;
            height: 134.93px;
            left: 22.16px;
            top: 732.96px;
            position: absolute;
          "
        >
          <div
            class="Rectangle18"
            style="
              width: 904.11px;
              height: 134.93px;
              left: 0px;
              top: 0px;
              position: absolute;
              background: white;
              border-radius: 18px;
              border: 1px black solid;
            "
          ></div>
          <div
            class="DowryCaseFinishedCnr465446454"
            style="
              width: 312.01px;
              height: 64.13px;
              left: 8.86px;
              top: 4.16px;
              position: absolute;
            "
          >
            <span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 600;
                word-wrap: break-word;
              "
              >Dowry Case (finished)<br /></span
            ><span
              style="
                color: black;
                font-size: 24px;
                font-family: EB Garamond;
                font-weight: 400;
                word-wrap: break-word;
              "
              >CNR - 465446454</span
            >
          </div>
          <div
            class="Asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm"
            style="
              width: 843.84px;
              height: 29.98px;
              left: 12.41px;
              top: 78.29px;
              position: absolute;
              color: black;
              font-size: 20px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
          >
            asvghjasjcvhvashcvkcbnbsabkcbksabcjkkjsbakcbkbasjkbcjkbjkbljxbacbxblcnbnxbacmlascnksncnmmm,
          </div>
          <div
            class="Readmore"
            style="
              width: 121px;
              height: 26px;
              left: 727.84px;
              top: 103.04px;
              position: absolute;
              color: #0047ff;
              font-size: 24px;
              font-family: EB Garamond;
              font-weight: 400;
              word-wrap: break-word;
            "
            onclick="readmoreclick()"

          >
            readmore
          </div>
        </div>
        <div
          class="Page0120"
          style="
            width: 203px;
            height: 28px;
            left: 343px;
            top: 17px;
            position: absolute;
            color: white;
            font-size: 28px;
            font-family: Roboto Serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Page 01-20
        </div>
      </div>
  </body>
</html>
